{% load static %}
<html>
    <head>
        <title>Animalerie de David</title>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <h1>Bienvenue à l'animalerie!</h1>
        {% for animal in animals %}
        <div class='ligne'>
            <div class='id_animaux'>
                <h2>{{ animal.id_animal }}</h2>
            </div>
            <div class='attr_animaux'>
                <span>{{ animal.etat }}</span>
                <span>{{ animal.lieu }}</span>
            </div>
        </div>
        {%endfor%}
    </body>
</html>